# Extra Practice
As you've probably seen, Pandas is an incredibly versatile and convenient tool to store, display, and transform tabular data. However, there are some nuances and redundancies that you should be aware of. These practice questions will hopefully elucidate some of these obscurities, as well as make you feel more comfortable working with Pandas.

## Creating Data Frames

Let's take this time to review the different ways to create a Data Frame. If you get stuck, you can look at some awesome slides [here](https://docs.google.com/presentation/d/1hwjcENCEm7blFBAXKcLZMT3t4xRr-HMV6N42UR1nTxU/edit#slide=id.g4114e65f62_0_239), the DS100 textbook [here](https://www.textbook.ds100.org/ch/03/pandas_intro.html), or at your Lab02 for reference!

In [ ]:
import pandas as pd
import numpy as np

### 1. df1

Use a dictionary to Create a DataFrame object that looks like this:



```

```

In [ ]:
df1 = ...

What's the data type of the "???" column?

### 2. df2
Use the ```data``` and ```columns``` arguments to create the same DataFrame as ```df1```.

In [ ]:
df2 = ...

### 3. df3

Set df3 to a **copy** of df1. Then, change the index of df3 to [42, 3, 9999, 7, 5]

In [ ]:
df3 = ...

Sanity check: Why do we use a copy?

## Indexing Practice

You can review some awesome slides from DS100 Summer 2019 [here](https://docs.google.com/presentation/d/1hwjcENCEm7blFBAXKcLZMT3t4xRr-HMV6N42UR1nTxU/edit#slide=id.g4114e65f62_0_239).


Let's now index on the DataFrames that you created!

For the following questions, give the same data using the three indexing methods: [ ], loc[ ], and iloc[ ]. You can use the ```type()``` function to check the data type of your output.

### 1a. First three rows of df1 as a DataFrame

In [ ]:
# use []

...

In [ ]:
# use loc

...

In [ ]:
# use iloc

...

### 1b. First three rows of df3 as a DataFrame

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 2a. First column of df2 as a DataFrame

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 3a. The first row of df3 as a DataFrame

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 4a. The last row of df1 as a Series

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 4b. The last row of df1 as a DataFrame

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 5a. The second, fourth, and fifth row of the numbers column in df3 as a Series.

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

### 5b. The second, fourth, and fifth row of the numbers column in df3 as a DataFrame.

In [ ]:
# use []

...

In [ ]:
# use loc[]

...

In [ ]:
# use iloc[]

...

## Groupby Practice

You can review .groupby() [here](https://www.textbook.ds100.org/ch/03/pandas_grouping_pivoting.html)

Great visual representation of how grouping works [here](https://docs.google.com/presentation/d/1PuaVQkMaytd6fK-jb_FSnYn54EgWIhLThSsHFbNq6Rs/edit#slide=id.g4114e65f62_0_517)! (slides 12, 13). [Source](http://www.ds100.org/su19/syllabus)

#### Let's use a wine dataset, because wine not (ha).

In [ ]:
### Loading in data

import urllib.request
import os.path
import zipfile

import pandas as pd
import numpy as np

# read data
local_filename = "wine_data.csv"
wines = pd.read_csv(local_filename, header = 'infer')

# change data
ratings = pd.read_csv("my_ratings.csv", header = None)
wines = wines.merge(ratings, left_on = wines.index, right_on = ratings.index).drop(columns=['key_0'])
wines = wines.rename({0: 'Rating'}, axis = 'columns')
wines['Color intensity'] = wines['Color intensity'].astype('int64')
wines.head(7)

### Data description
1. Title of Database: Wine recognition data
       Updated Sept 21, 1998 by C.Blake : Added attribute information

2. Sources:
   (a) Forina, M. et al, PARVUS - An Extendible Package for Data
       Exploration, Classification and Correlation. Institute of Pharmaceutical
       and Food Analysis and Technologies, Via Brigata Salerno, 
       16147 Genoa, Italy.

   (b) Stefan Aeberhard, email: stefan@coral.cs.jcu.edu.au
   (c) July 1991

4. Relevant Information:

   -- These data are the results of a chemical analysis of
      wines grown in the same region in Italy but derived from three
      different cultivars.
      The analysis determined the quantities of 13 constituents
      found in each of the three types of wines. 

   -- I think that the initial data set had around 30 variables, but 
      for some reason I only have the 13 dimensional version. 
      I had a list of what the 30 or so variables were, but a.) 
      I lost it, and b.), I would not know which 13 variables
      are included in the set.

8. Missing Attribute Values: None

9. Class Distribution: number of instances per class

    * class 1 59
	* class 2 71
	* class 3 48

### Summary statistics of wines

In [ ]:
wines.describe()

In [ ]:
# Number of unique values for each column
for c in wines.columns:
    print(c, len(wines[c].unique()))

### 1. For each class, find the max alcohol content

In [ ]:
# Your answer here
...

### 2. For each class, find the count of alcoholic beverages greater than 13.5%.

In [ ]:
# Your answer here
...

### 3. For each class, find the average rating

In [ ]:
# Your answer here
...

(From the above 3 questions, what can you infer about the Rating column?)

### 4. For each rating, find the count for each class

In [ ]:
# Your answer here
...

### 5. For each level of color intensity that is equal to 4 or 6 or 8, find the average Flavanoids

In [ ]:
# Your answer here
...

### 6. For each rating, find the first row

In [ ]:
# Your answer here
...

### 7. For each rating, find the third row

Hint: Up until now, we've been using built-in aggregation methods, like .mean() and .count(). If we have a custom aggregation function, we can use .agg(), which takes in a function. 

Hint: Remember that .mean(), .count(), etc. is applied on each group.

In [ ]:
# Your answer here
...

In [ ]:
# Your answer here
...

### 8. For each alcohol level rounded DOWN to the nearest integer, find the average rating only including instances with a rating between 3 and 8 (inclusive), and multiply it by 10.

Hint: look up Series.astype()

In [ ]:
# Your answer here

# Congrats! You made it to the end :)